pre {
    font-size: 1.2em;
}

.cores-brasil {
    color: black;
    background-color: red;
}

.cores-pelotas {
    color: blue;
    background-color: yellow;
}

.cores-farroupilha {
    color: rgb(29, 189, 14);
    background-color: rgb(255, 255, 255);
}

body {
    background-color: rgb(209, 6, 118);
}