
body {
    margin: 0px;
}

header {
    max-width: 700px;
    background-image: linear-gradient(to right, #163359 50%, #22528D);
    color: white;
    text-align: center;
    margin: 0px auto;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 2px 6px rgb(120, 118, 118);
}

main {
    max-width: 700px;
    padding: 10px;
    margin: 15px auto;
    border-radius: 10px;
    box-shadow: 1px 2px 6px rgb(120, 118, 118);
}

main h2 {
    margin: 0px;
}

main > form > p > input {
    margin: 5px;
    font-weight: bold;
    color: white;
    background-color: #3267AA;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 2px 6px rgb(120, 118, 118);
}

main > form > p > input:hover {
    box-shadow: none;
}

main input.inClube {
    background-color: white;
    border: 2px solid #3267AA;
    color: black;
}

main input.newClube {
    background-color: #D9AA52;
    color: black;
}

body div.container {
    margin: 0px auto;
    max-width: 650px;
}

body div.container h5 {
    display: inline-block;
    width: 100px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 2px 6px rgb(120, 118, 118);

}

body .inDiv {
    overflow-x: auto;
    margin: 20px auto;
    padding: 10px;
    max-width: 700px;
    box-shadow: 1px 2px 6px rgb(120, 118, 118);
    border-radius: 10px;
}

body .inDiv table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 650px;
}

body .inDiv table caption {
    padding: 10px;
    background-color: #22528D;
    color: white;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
}

body .inDiv table tr  td{
    padding: 5px;
    text-align: center;
    border: 1px solid black;
}


