h1 {
    border-bottom: inset;
}

.tarefa-selecionada {
    color: red;
    font-style: italic;
}

.tarefa-normal {
    color: black;
}

img.moeda1-00 {
    height: 1px;
    width: 1px;
    margin-bottom: 5px;
}

img.moeda0-50 {
    height: 1px;
    width: 1px;
    margin-bottom: 5px;
}

img.moeda0-25 {
    height: 1px;
    width: 1px;
    margin-bottom: 5px;
}

img.moeda0-10 {
    height: 1px;
    width: 1px;
    margin-bottom: 5px;
}

.alinha-direita {
    text-align: right;
}