
/*
const cores = {
    0: 'red',
    1: 'blue',
    2: 'black',
    3: 'white',
    4: 'yellow',
    5: 'pink',
    6: 'gray',
    7: 'lightgreen'
};
*/

body {
    background-color: blanchedalmond;
}

h3 {
    text-align: center;
    background-color: cadetblue;
    display: inline;
    padding: 10px;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.black {
    color: black;
}

.white {
    color: white;
}

.yellow {
    color: yellow;
}

.pink {
    color: pink;
}

.gray {
    color: gray;
}

.lightgreen {
    color: lightgreen;
}